<div class="item">
    <img src="/houses/image/{{filename}}" alt="">
    <form action="/houses/{{houseId}}/removeimage/{{filename}}" class="removeImgForm">
        <button type="submit"><i class="fas fa-trash"></i></button>
    </form>
</div>