/* global */
textarea {
    resize: none;
}
.form-control::-webkit-input-placeholder {
    color: #bbb;
}

/* header */
.navbar {
    background: #e3f2fd;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

/* main */
main { 
    padding-top: 56px;
}

/* house index */ 
#houseIndexMapDiv {
    position: fixed;
    top: 56px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
#houseIndexMap {
    height: 100vh;
    width: 40vw;
}
.infoWindow{
    width: 200px;
    height: auto;
    font-size: 1.1em;
}
.infoWindow a {
    text-decoration: none;
}
.infoWindow img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
}

#searchDiv {
    position: fixed;
    top: 56px;
    width: 60vw;
    height: 60px;
    z-index: 1;
    background-color: #fcfcfc;
    padding: 10px;
}
#searchDiv select {
    font-size: 0.9em;
}

#sort,
#low,
#high {
    font-family: 'FontAwesome';
}

#searchForm label {
    padding-left: 10px;
    padding-right: 5px;
}

#searchForm button {
    margin-left: 10px;
}

#housesDiv {
    width: 58vw;
    padding: 10px 10px 10px 20px;
    margin-top: 70px;
}

#houselistempty {
    margin-top: 30vh;
    margin-bottom: 30vh;
    text-align: center;
    font-size: 1.5em;
}

.houseindexcard {
    margin-bottom: 3vh;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.houseindexcard:hover {
    -webkit-box-shadow: 0 3px 9px 0 #a4a4a5, 0 0 0 1px #a4a4a5;
            box-shadow: 0 3px 9px 0 #a4a4a5, 0 0 0 1px #a4a4a5;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.carousel {
    width: 400px;
    height: 250px;
}
.carousel img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
}

.houseindextext {
    word-break: break-all;
    padding-right: 10px;
}

.card-title {
    font-size: 1.2em;
    margin-top: 1vh;
    text-transform: uppercase;
}

.card-block {
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
}

.card-text {
    margin-top: 10px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    overflow: hidden !important;
}

/* house single */
.housesingleinfo {
    word-break: break-all;
    font-size: 1.1em;
    margin: 40px 0px;
}
.housesingleinfo .col-lg-4 {
    margin-bottom: 20px;
}

#housesingleaddress {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

#housesingledelete {
    display: inline;
}

.fa-heart {
    font-size: 1.5em;
}

#storehouse {
    color: #ff0000;
}
#removestore {
    color: #ff0000;
}

#houseCarousel {
    width: 100%;
    height: 500px;
}
#houseCarousel img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
}

#commentForm {
    margin-top: 25px;
}

#comment {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1 
}

#commentDiv {
    margin-top: 10px;
    border: none;
    padding: 15px;
}

/* house edit */
#houseeditDiv {
    margin: 40px auto;
}

.houseeditheader {
    font-size: 1.5em;
}

#housesEditForm {
    font-size: 1.1em;
}

.editPriceSpan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#editPrice {
    margin: 0px 3px;
}

#editFormError {
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ee0000;
}

#addImgError {
    font-size: 0.9em;
    color: #ee0000;
}

.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #34495e;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.item * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.item img {
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
}
.item form {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #34495e;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
}
.item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.item:hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.item * {
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.item form {
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045), -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.item:hover form {
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.item form button {
    border: none;
    border-radius: 50%;
    height: 50px;
    background-color: #ffffff;
    color: #34495e;
}

/* user single */
#usersingleDiv h1 {
    font-size: 1.5rem;
    background-color: #f0f0f0;
    margin: 0;
    padding: 5px 20px;
}
#usersingleDiv .card {
    background-color: #fcfcfc;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
            box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.usersingleprofile {
    margin-top: 5vh;
    font-size: 1.1em;
}
.usersingleprofile .card h1 {
    margin-bottom: 15px !important;
}
.usersingleprofile .card p {
    margin-left: 20px;
    margin-right: 20px;
}

#usersingleinfo {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.1em;
}
#usersingleinfo .card ul {
    margin-bottom: 0;
    padding-right: 30px;
    list-style: none;
}

#usersingleinfo li {
    margin: 10px auto;
}

.usersinglehouselist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.usersinglehouselist div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 0;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    opacity: 0;
}
.usersinglehouselist:hover div {
    width: 80px;
    opacity: 1.0;
}
.usersinglehouselist div a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.usersinglestorelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.usersinglestorelist div {
    width: 0;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    opacity: 0;
}
.usersinglestorelist:hover div {
    width: 40px;
    opacity: 1.0;
}

.usersinglecomment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.usersinglecomment div {
    display: inherit;
}

.usersinglecommentDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 0;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    opacity: 0;
}
.usersinglecomment:hover .usersinglecommentDiv {
    width: 70px;
    opacity: 1.0;
}
.usersinglecommentDiv a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

#editDiv,
#postDiv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#editForm,
#postForm {
    margin: 15px 10vw 20px 10vw;
}

#emptyError,
#passwordError,
#emailError,
#phoneError,
#editServerError,
#postFormError,
#postFormServerError {
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
    color: #ee0000;
}

#phoneDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phoneNumber3 {
    width: 50%;
}

#houseNewMap {
    margin-top: 15px;
    padding-top: 100%;
    width: 100%;
}

#nextBtn,
#postSubmitBtn {
    width: 49%;
}

#backBtn,
#backToAddrBtn {
    width: 49%;
    float: right;
}

.requiredfield {
    margin: 0px 2px;
    font-size: 1.2em;
    color: #ee0000;
}

/* user login */
#loginDiv {
    width: 480px;
    margin: 50px auto;
}

.close {
    margin-left: 10px;
}

.login-header {
    text-align: center;
    flex-grow: 1;
}

#signInClientError,
#signInServerError,
.signUpErrorDiv {
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
    color: #ee0000;
}

#signUpPhoneDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.signUpPhone3 {
    width: 50%;
}

/* error page*/
.errorPage {
    margin: 30vh 0;
    font-size: 4em;
    text-align: center;
}

/* resize when screen size is changed */
@media screen and (max-width: 1199.98px) {
    /* house single*/
    #houseCarousel {
        height: 400px;
    }
    #houseCarousel img {
        height: 400px;
    }
}

@media screen and (max-width: 991.98px) {
    /* house index */
    #houseIndexMapDiv {
        display: none;
    }

    #searchDiv {
        width: 100%;
    }

    #housesDiv {
        width: 100%;
        padding-right: 20px;
    }

    /* house single*/
    #houseCarousel {
        height: 500px;
    }
    #houseCarousel img {
        height: 500px;
    }

    /* user single */
    #usersingleinfo,
    #editDiv,
    #postDiv {
        margin-top: 0;
    }

    /* error page*/
    .errorPage {
        margin: 30vh 20vw;
        font-size: 3em;
    }
}

@media screen and (max-width: 767.98px) {
    /* house single */
    #houseCarousel {
        width: 100%;
        height: 300px;
    }
    #houseCarousel img {
        width: 100%;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    /* user single */
    #usersingleinfo .card ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    .usersinglehouselist:hover div {
        width: 70px;
        opacity: 1.0;
    }

    .usersinglestorelist:hover div {
        width: 40px;
        opacity: 1.0;
    }

    .commentDate {
        display: none;
    }

    /* error page*/
    .errorPage {
        margin: 30vh 20vw;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 575.98px) {
    /* house index */
    #searchDiv {
        display: none;
    }

    #housesDiv {
        margin-top: 10px;
    }


    /* user login */
    #loginDiv {
        width: 400px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 479.98px) {
    /* header */
    nav .navbar-brand {
        font-size: 1rem;
    }
    nav a .fa-laptop-house {
        display: none;
    }

    /* user login */
    #loginDiv {
        width: 320px;
        font-size: 1em;
    }
    #loginDiv .card .card-header {
        font-size: 0.9em;
    }

}