<article id="usereditDiv">
    <form action="/users/{{user._id}}/edit" id="usersEditForm" method="POST">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="hidden" id="username" value="{{currentUser.name}}" />

        <div class="form-group">
            <label for="pw"><i class="fas fa-lock mr-2"></i>New Password: </label>
            <input type="password" class="form-control" id="pw" name="password" placeholder="e.g. John_Doe_123" maxlength="16"/>

            <label for="pw2"><i class="fas fa-lock mr-2"></i>Confirm Password: </label>
            <input type="password" class="form-control" id="pw2" aria-describedby="usereditpwHelp" placeholder="Please Enter Again" maxlength="16"/>
            <small id="usereditpwHelp" class="form-text text-muted">1. different from username; 2. only letters, numbers and underscores; 3. must contain 6-16 letters; 4. at least one uppercase letter</small>
        </div>
        <div class="form-group">
            <label for="mail"><i class="fas fa-envelope mr-2"></i>New Email: </label>
            <input type="email" class="form-control" name="email" id="mail" placeholder="username@example.com"/>
        </div>
        <fieldset class="form-group">
            <legend class="col-form-label"><i class="fas fa-phone-alt mr-2"></i>New Phone Number:</legend>
            <div id="userphoneDiv">
                <label><input type="hidden" name="phoneNumber" id="phoneNum" aria-describedby="usereditphonenumHelp"/></label>

                <label for="phoneNumberPart1">(+1)</label>
                <input id="phoneNumberPart1" class="phoneNumber phoneNumber3 form-control" type="text" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                
                <label for="phoneNumberPart2">-</label>
                <input id="phoneNumberPart2" class="phoneNumber phoneNumber3 form-control" type="text" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                
                <label for="phoneNumberPart3">-</label>
                <input id="phoneNumberPart3" class="phoneNumber form-control" type="text" maxlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
            </div>
            <small id="usereditphonenumHelp" class="form-text text-muted">Format: (+1) xxx-xxx-xxxx</small>
        </fieldset>
        <div>
            <button class="btn btn-success" type="submit"><i class="fas fa-edit"></i>Edit</button>
            <button class="btn btn-warning" type="reset"><i class="fas fa-eraser mr-2"></i>Reset</button>
            <a class="btn btn-primary" href="/users/{{user._id}}"><i class="fas fa-backspace mr-2"></i>Back to your own page</a>
        </div>
    </form>
    <div class="userErrorDiv">
        <div id="userEditEmptyError"></div>
        <div id="pwError"></div>
        <div id="mailError"></div>
        <div id="phoneNumError"></div>
        <div id="userEditFormError">{{#if hasErrors}}{{errors}}{{/if}}</div>
    </div>
</article>