<article id="userloginDiv">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="nameDiv" href="#">Login By Username</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="emailDiv" href="#">Login By Email</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form action="/users/login" id="usersLoginForm" method="POST">
                <div id="userloginName" class="form-group">
                    <label for="name" class="form-label"><i class="fas fa-file-signature mr-2"></i>Username: </label>
                    <input class="form-control" type="text" name="username" id="name" placeholder="Username" maxlength="16" />
                </div>
                <div id="userloginEmail" class="form-group">
                    <label for="email" class="form-label"><i class="fas fa-envelope-open-text mr-2"></i>Email: </label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="pword" class="form-label"><i class="fas fa-key mr-2"></i>Password: </label>
                    <input class="form-control" type="password" name="password" id="pword" placeholder="Password" maxlength="16" />
                </div>
                <div>
                    <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt mr-2"></i>Login</button>
                </div>
            </form>

            <div id="userloginmessage">Not registered? <a href="/users/new">Create an account!</a></div>
            <div>
                <div id="loginError"></div>
                <div id="loginErrorList">
                {{#if hasErrors}}
                    {{#each error}}
                    <div>{{this}}</div>
                    {{/each}}
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</article>